.pagination {
  display: flex;
  justify-content: center;
  align-items: center;
}

@media (min-width: 992px) {
  .pagination {
    margin-inline-start: 300px;
  }
}

.container {
  display: flex;
  justify-content: left;
  align-items: center;
}

.card-container {
  display: flex;
  flex-direction: row;
}

.search-btn {
  margin-top: 100%;
  margin-bottom: 10px;
}
